# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Xcode build artifacts
DerivedData/
build/

# Swift Package Manager
.build/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
