# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Xcode build artefacts
DerivedData/
build/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
