#include "Shared.xcconfig"
#include? "Local.xcconfig"

APP_BUNDLE_ID_SUFFIX =
APP_DISPLAY_NAME = Stack Users

// Release-flavoured compiler flags
SWIFT_ACTIVE_COMPILATION_CONDITIONS = PRODUCTION
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
GCC_OPTIMIZATION_LEVEL = s
ENABLE_TESTABILITY = NO
